---
layout: default
---

<div class="home">

  <h1 class="page-heading">News</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% if post.author != nil %}
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }} – {{ post.author }}</span>
        {% else %}
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        {% endif %}

        <h2>
          <span class="post-title" href="{{ post.meetup }}">{{ post.title }}</span>
        </h2>

        <span class="post-description">{{ post.content}}</span>

        {% if post.type == 'meetup' %}
          <div align="right">
            <a class="meetup-link" href="{{ post.meetup }}">Go to the meetup page</a>
          </div>
        {% else %}
        {% endif %}

        <span class="post-separater"> <hr> </span>
      </li>
    {% endfor %}
  </ul>

</div>
