/**
 * Site header
 */
.site-header {
    //border-top: 5px solid $grey-color-dark;
    //border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 28px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    //float: center;
    //line-height: 56px;
    @media (min-width: $content-width){
        clear: both;
        display: none;
    }

    @media (max-width: $content-width){
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: #fdfdfd; //$background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .page-link {
            color: $text-color;
            line-height: $base-line-height;

            // Gaps between nav items, but not on the first one
            &:not(:first-child) {
                margin-left: 20px;
            }
        }

        .menu-icon {
                display: block;
                float: right;
                width: 36px;
                height: 26px;
                line-height: 0;
                padding-top: 20px;
                text-align: center;

                > svg {
                    width: 18px;
                    height: 15px;

                    path {
                        fill: $grey-color-dark;
                    }
                }
            }

            .trigger {
                clear: both;
                display: none;
                //font-size: $base-font-size * 1.25;
                padding-left: $spacing-unit;
                padding-right: $spacing-unit / 2;
                
                font-size: 28px;
                line-height: 56px;
                letter-spacing: -1px;
            }

            &:hover .trigger {
                display: table;
                padding-bottom: 10px;
            }
    }

    // @include media-query($on-palm) {
    //     position: absolute;
    //     top: 9px;
    //     right: 30px;
    //     background-color: $background-color;
    //     border: 1px solid $grey-color-light;
    //     border-radius: 5px;
    //     text-align: right;

    //     .menu-icon {
    //         display: block;
    //         float: right;
    //         width: 36px;
    //         height: 26px;
    //         line-height: 0;
    //         padding-top: 10px;
    //         text-align: center;

    //         > svg {
    //             width: 18px;
    //             height: 15px;

    //             path {
    //                 fill: $grey-color-dark;
    //             }
    //         }
    //     }

    //     .trigger {
    //         clear: both;
    //         display: none;
    //     }

    //     &:hover .trigger {
    //         display: block;
    //         padding-bottom: 5px;
    //     }

    //     .page-link {
    //         display: block;
    //         padding: 5px 10px;
    //     }
    // }
}


/**
 * Wrapper
 */
.wrapper {
    float: right;
    position: relative;
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    // padding-right: $spacing-unit;
    // padding-left: $spacing-unit;
    padding-left: 20em;//22em;
    @extend %clearfix;

    @include media-query($on-laptop) {
        // max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} + 18rem));
        // max-width:         calc(#{$content-width} - (#{$spacing-unit} + 18rem));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}


.wrapper-sidebar {
    //float: left;
    position: fixed;
    //max-width: 18rem;
    // margin-right: auto;
    // margin-left: auto;
    padding-right: $spacing-unit;
   // padding-left: $spacing-unit;
    //padding-left: 22em;
    // @extend %clearfix;
    pointer-events: inherit;
    z-index: 1000;
    
    clear: both;
    display: block;

    //@include media-query($on-laptop) {
        //max-width: 18rem;
        // padding-right: $spacing-unit / 2;
        // padding-left: $spacing-unit / 2;
    //}

    @media (max-width: $content-width){
        clear: both;
        display: none;
    }
}


/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 12px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    float: center;
    padding: $spacing-unit 0;
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    pointer-events: all;
}

.page-heading {
    padding-top: 30px;
    font-size: 30px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 24px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
